# RPC Endpoints
BASE_SEPOLIA_RPC=https://base-sepolia.g.alchemy.com/v2/e-b8dKqY5geCHGIk_B7wl
STORY_AENEID_RPC=https://aeneid.storyrpc.io

# Private Key (TESTNET ONLY - use a throwaway wallet)
PRIVATE_KEY=0xa712c529c2fee03782af65188843e9c62e5ea58cf0b008bb60bdf1e957199f8a

# Optional: Etherscan API keys (for verification)
ETHERSCAN_API_KEY=QXRRE238WN1G363NFIVDTKEZS7NX71DZBT
